/* style.css */
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* noir */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-logo {
  text-align: center;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;

  /* Animation de clignotement */
  animation: blink 3s infinite ease-in-out;
}

/* Définition de l'animation */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
